setuptools<4.0
pbr>=0.5.10,<0.6
gear>=0.5.4,<1.0.0
python-swiftclient
python-keystoneclient

lockfile
python-daemon
extras
GitPython>=0.3.2.RC1
sphinxcontrib-programoutput
sphinxcontrib-seqdiag

mysql-python

requests
PyYAML>=3.1.0,<4.0.0

jenkins-job-builder
xmltodict
